/* stili per scacchiera 6x6 */
body {
    background-color: #272522;
    padding: 100px 0;
}
.wrapper {
    max-width: 650px;
    border: 1px solid lightgray;
}
.info {
    color: #272522;
    font-size: larger;
    font-weight: bold;
    position: absolute;
    left: 50%;
    top: -25px;
    transform: translate(-50%, -50%);
}
.info-down {
    color: #272522;
    font-size: larger;
    font-weight: bold;
    position: absolute;
    left: 50%;
    bottom: -40px;
    transform: translate(-50%, -50%);
}
.info-number {
    color: #272522;
    font-size: larger;
    font-weight: bold;
    position: absolute;
    bottom: 50%;
    left: -30px;
    transform: translate(0, 50%);
}
.info-number-right {
    color: #272522;
    font-size: larger;
    font-weight: bold;
    position: absolute;
    bottom: 50%;
    right: -30px;
    transform: translate(0, 50%);
}
.container-padding {
    padding: 80px;
}
.cell {
    aspect-ratio: 1 / 1;
}
.position-relative {
    position: relative;
}
.chess-container {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.cell i {
    font-size: 2.5rem;
}
.cell-white {
    background-color: #FFFFFF;
}
.cell-gray {
    background-color: #E1E0E1;
}

/* media queries per schermi inferiori a 600px */ 
@media screen and (max-width: 600px) {
    .cell i {
        font-size: 2rem;
    }
    .info, .info-down,
    .info-number, .info-number-right {
        font-size: medium;
    }
}
/* media queries per schermi inferiori a 550px */ 
@media screen and (max-width: 550px) {
    .cell i {
        font-size: 1.5rem;
    }
    .info, .info-down,
    .info-number, .info-number-right {
        font-size: 14px;
    }
}
/* media queries per schermi inferiori a 430px */
@media screen and (max-width: 440px) {
    .cell i {
        font-size: 1rem;
    }
    .info, .info-down,
    .info-number, .info-number-right {
        font-size: 12.5px;
    }
}